*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: rgb(198,198,198);
    background: linear-gradient(90deg, rgba(198,198,198,1) 35%, rgba(200,213,215,1) 100%);
}

.header{
    background-image: url("img/negócios.jpg");
    background-size: 100%;
    background-color: rgb(15, 15, 134);
    text-align: center;
    padding: 90px 0;
    font-size: 40px;
}
.container{
    display: flex;
}

.navbar{
    width: 30%;
    background-color: rgb(173, 173, 173);
    padding: 30px;
}
nav ul li{
    display: block;
}
nav ul li a{
    background-color: rgb(36, 9, 156);
    text-decoration-line: none;
    border-style: solid;
    display: block;
    text-align: center;
    color: white;
    border-color: rgb(36, 9, 156);
    margin: 5px; 
    
}
.content{
    width: 70%;
    background-color: rgb(207, 205, 205);
    padding: 30px;
}
.footer{
    background-color: grey;
    text-align: center;
    padding: 20px 0;
}
article img {
    width: 250px;
}
.social{
    text-align: center;
    margin-bottom: 45px;
}
.contact{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.contact img{
    width: 40px;

}
